<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AccCheck.Properties.Settings>
            <setting name="Buttonlog" serializeAs="String">
                <value>Копировать логин</value>
            </setting>
            <setting name="Buttonpass" serializeAs="String">
                <value>Копировать пароль</value>
            </setting>
            <setting name="Textboxlog" serializeAs="String">
                <value />
            </setting>
            <setting name="Paimonicolog" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Buttonbacklog" serializeAs="String">
                <value>236, 229, 216</value>
            </setting>
            <setting name="Fqualityapassivelog" serializeAs="String">
                <value>73, 83, 102</value>
            </setting>
            <setting name="Fqualityaactivelog" serializeAs="String">
                <value>96, 105, 121</value>
            </setting>
            <setting name="Bagweaponactivelog" serializeAs="String">
                <value>211, 188, 142</value>
            </setting>
            <setting name="Artloadedlog" serializeAs="String">
                <value>233, 229, 220</value>
            </setting>
            <setting name="Scrollerbottomlog" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Primogemlog" serializeAs="String">
                <value>154, 237, 253</value>
            </setting>
            <setting name="Historybuttonlog" serializeAs="String">
                <value>60, 67, 86</value>
            </setting>
            <setting name="Wishhistorybacklog" serializeAs="String">
                <value>240, 236, 230</value>
            </setting>
            <setting name="Wishhistorytableloadedlog" serializeAs="String">
                <value>211, 188, 142</value>
            </setting>
            <setting name="Legendarycharlog" serializeAs="String">
                <value>189, 105, 50</value>
            </setting>
            <setting name="Testpixellog" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Menumarketplateloadedlog" serializeAs="String">
                <value>82, 91, 108</value>
            </setting>
            <setting name="Paimonmarketloadedlog" serializeAs="String">
                <value>254, 230, 176</value>
            </setting>
            <setting name="Archiveloadedlog" serializeAs="String">
                <value>200, 179, 137</value>
            </setting>
            <setting name="Settingscontrolloadedlog" serializeAs="String">
                <value>211, 188, 142</value>
            </setting>
            <setting name="Settingsaccountloadedlog" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Accountloadedlog" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SupportButtonlog" serializeAs="String">
                <value>236, 229, 216</value>
            </setting>
            <setting name="Gemloadedlog" serializeAs="String">
                <value>118, 155, 248</value>
            </setting>
            <setting name="Paimonfirstmarketloadedlog" serializeAs="String">
                <value>236, 229, 216</value>
            </setting>
        </AccCheck.Properties.Settings>
    </userSettings>
</configuration>